/*coloring*/
.page{
	
}

#header{
	background-color:darkturquoise;
}
#header h1{
	
}

#nav-vert{
	background-color:darkturquoise;
}

#footer{
	background-color:darkturquoise;
}



/*link definitions */
	ul {
		
	}

	li a {
		
		
		
	}

	/* Change the link color on hover */
	li a:hover {
		background-color: turquoise;
		border-left: 6px solid navy;
	}
