/* Resets and overrides */

*{
	box-sizing:border-box;
	margin:0px;
	border;0px;
}

/*Elemets*/
body html {
	width: 100%;
	width: 100vw;
	padding: 0;
	margin: 0;
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
}


ul {
	list-style-type: none;
	position:relative;
}

li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	position:relative;
}

	
li a:hover {
	background-color: turquoise;
	border-left: 6px solid navy;
}


/*id*/
#header{
	text-align: center;
}

#header{
	background-color:DodgerBlue;
}


#nav-vert{
	background-color:DodgerBlue;
}

#footer{
	background-color:DodgerBlue;
	text-align: center;
}

/*class*/


.flex-row{
	display:flex;
	flex-wrap:nowrap;
	text-align:center;
	justify-content:center;
	
}

.flex-column{
	display:flex;
	flex-direction:column;
}

.placemark{
	background-color:DodgerBlue;
	margin: 5px;
	padding: 5px;
	text-align: left;
	
}


