/* Resets and overrides */

*{
	box-sizing:border-box;
	margin:0px;
	border;0px;
}

/*Elemets*/
body html {
	width: 100%;
	width: 100vw;
	padding: 0;
	margin: 0;
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
}



a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	position:relative;
	color: black;
}

	
a:hover {
	background-color: black;
	border-left: 6px solid silver;
	color: silver;
}


/*id*/
#header{
	text-align: center;
	background-color:DodgerBlue;
	flex: 0 0 100%;
}

#indexpage{
	flex: 0 0 100%;
}

#nav-vert{
	background-color:DodgerBlue;
}

#footer{
	background-color:DodgerBlue;
	
}

#totals {
	position: fixed;
	top:100px;
	right: 0;
}

/*class*/


.flex-row{
	display:flex;
	flex-wrap:nowrap;
	text-align:center;
	justify-content:center;
	
}

.flex-column{
	display:flex;
	flex-direction:column;
}

.placemark{
	background-color:DodgerBlue;
	margin: 5px;
	padding: 5px;
	text-align: left;
	
}

.Personal{
	background-color:DeepSkyBlue;
	color:Dimgrey;
}


