

		
		<div class="flex-row" style="justify-content: flex-start">
			<div class="flex-column" id="nav-vert">
				<div>
					<ul>
						<li><a href="javascript:void(0)" onclick="loadDoc('content','/Pages/home.htm')">Home</a></li>
						<li><a href="javascript:void(0)">Kellie</a></li>
						<li><a href="javascript:void(0)" onclick="loadDoc('content','/Pages/atlascon.htm')">Jed</a></li>
						<li><a href="javascript:void(0)">Kids</a></li>
					</ul>
				</div>
			</div>
			<div class="flex-column" id="content">
				
			</div>
		</div>
		
		