		<div class="page">
			<div  class="header">
				<h1>Weclome to The Wallace Family Home!</h1>
			</div>
		
			<div class="nav-vert">
				<ul>
					<li><a href="javascript:void(0)">Home</a></li>
					<li><a href="javascript:void(0)">Kellie</a></li>
					<li><a href="javascript:void(0)">Jed</a></li>
					<li><a href="javascript:void(0)">Kids</a></li>
				</ul>
			</div>
			<div class="col-alpha">
				<p>General Happenings</p>
				<img src="graphics/Family Photo Lion.jpg" alt="Family Photo">
			</div>
			<div class="footer">
				<p>Copyright © 2017 Wallace Home<p>
			</div>
		</div>