		<div id="page">
			<div  id="header">
				<h1>Weclome to The Wallace Family Home!</h1>
			</div>
		
			<div id="nav-vert">
				<ul>
					<li><a href="javascript:void(0)">Home</a></li>
					<li><a href="javascript:void(0)">Kellie</a></li>
					<li><a href="javascript:void(0)">Jed</a></li>
					<li><a href="javascript:void(0)">Kids</a></li>
				</ul>
			</div>
			<div id="col-alpha">
				<p>General Happenings</p>
			</div>
			<div id="footer">
				<p>Copyright © 2017 Wallace Home<p>
			</div>
		</div>