body {
    margin: 0;
}

#wrapper {
    background-color: deepskyblue;
    height: 50vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.inner_div {
    background-color: whitesmoke;
    padding: 15px;
    border: 2px solid black;
    width: 50px;
    height: 50px;
}


h1 {
    color: red;
	background-image: url('https://codetheweb.blog/assets/img/header-img.jpg');
}
.another-class {
    color: blue;
}
.classes {
    color: gold;
}
#my-id {
    color: magenta;
}
.my-ul #my-li span {
    color: orange;
}
h5.classes {
    color: pink;
}

p {
    background-color: cyan;
    width: 300px;
    height: 400px;
    margin-left: 200px;
    margin-top: 100px;
	padding: 50px;
}

.div1 {
    background-color: cyan;
    width: 200px;
    height: 400px;
    position: fixed;    /* Add this line */
    top: 100px;         /* And this one  */
}

